body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: radial-gradient(#111, #000);
  color: #f5c97a;
  overflow-x: hidden;
}

.container {
  text-align: center;
  padding-top: 15vh;
}

button, .sadafBtn {
  padding: 12px 20px;
  border-radius: 25px;
  background: black;
  color: gold;
  border: 2px solid gold;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

button:hover, .sadafBtn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.hidden {
  display: none;
  margin-top: 20px;
}

#goldenText p {
  font-size: 20px;
  margin: 5px 0;
  color: gold;
}
