body, html {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #111;
  color: gold;
  overflow-x: hidden;
  height: 100vh;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hidden { display: none; }

.container {
  text-align: center;
  z-index: 10; /* particle এর উপরে থাকবে */
}

.box {
  background: rgba(0,0,0,0.85); /* বেশি opacity */
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  color: gold;
  font-weight: bold;
  font-size: 1.8em;
  box-shadow: 0 0 20px gold;
  position: relative;
}

button {
  padding: 12px 20px;
  border-radius: 25px;
  background: black;
  color: gold;
  border: 2px solid gold;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

h1,h2 { 
  font-weight: bold; 
  color: #FFD700; /* golden */
  text-shadow: 0 0 5px #fff, 0 0 10px gold; 
  margin: 10px 0;
}
