body, html {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #111;
  color: gold;
  overflow-x: hidden;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hidden { display: none; }

.container {
  text-align: center;
}

.box {
  background: rgba(0,0,0,0.7);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

button {
  padding: 12px 20px;
  border-radius: 25px;
  background: black;
  color: gold;
  border: 2px solid gold;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

h1,h2 { 
  font-weight: bold; 
  text-shadow: 0 0 5px #fff, 0 0 10px gold;
  margin: 10px 0;
}
